* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --principal-color-red: #E3646E;
  --principal-color-purple: #BB72E9;
  --principal-color-blue: #3996DB;
  --principal-color-green: #82BC4F;
  --principal-color-yellow: #EABD5F;

  --base-gray-100: #E2E4E9;
  --base-gray-200: #C0C4CE;
  --base-gray-300: #878EA1;
  --base-gray-400: #292C34;
  --base-gray-500: #16181D;
  --base-gray-600: #0D0E11;

  --font-title: 'Asap', sans-serif;
  --font-subtitle: 'Inconsolata', monospace;
  --font-text: 'Maven Pro', sans-serif;

  --title-lg: 600 56px/120% var(--font-title);
  --title-md: 600 24px/120% var(--font-title);
  --title-sm: 600 16px/120% var(--font-title);

  --subtitle: 400 20px/120% var(--font-subtitle);

  --text-md: 400 16px/140% var(--font-text);
  --text-sm: 400 14px/140% var(--font-text);
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

.title-sm {
  font: var(--title-sm);
  color: var(--base-gray-100);
}

.subtitle-red {
  color: var(--principal-color-red);
  font: var(--subtitle);
  text-align: center;
}
.subtitle-purple {
  color: var(--principal-color-purple);
  font: var(--subtitle);
  text-align: center;
}
.title-md {
  font: var(--title-md);
  color: var(--base-gray-100);
  text-align: center;
  margin-top: 8px;
}

.text-sm {
  font: var(--text-sm);
  color: var(--base-gray-200);
}

